@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --tiptap-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --tiptap-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body .tiptapPreview,
body .tiptap,
body .ProseMirror
body .header-time {
  color: rgb(var(--tiptap-rgb));
}

li p::before {
  content: "- ";
}

.app-logo path {
  @apply fill-primary;
}

/* Disable horizontal overscroll, scroll back */
html, body {
  overscroll-behavior-x: none;
}